<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../Styles/project.css">
</head>
<body>
    <div class="header">
        <div class="navbar">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../Views/about.html">About</a></li>
                <li><a href="../Views/resume.html">Resume</a></li>
                <li><a href="../Views/skills.html">Skills</a></li>
                <li class="color">Project</li>                
                <li><a href="../Views/contact.html">Contact</a></li>
            </ul>
        </div>

        <div class="project-detail">
            <h3>My Projects</h3>
            <h1>Projects</h1>
            <div class="first">
                <label>JAN 2022</label>
                <h2>Student Result Management System</h2>
                <h4>Using PHP & MySQL</h4>
                <p>The main Objective of the project on Student Result Management 
                    System is to manage the details of Student,Result,Subject,Class,Semester. It 
                    manages all the information about Student, Subject, Semester.The Project is 
                    totally built at administrative end and thus only the administator is 
                    guaranteed the access. The Purpose of the project is to built an application 
                    program to reduse the manual work for managing the Student, Result, 
                    Subjects. It tracks all the details about the Subjects. Class, Semester.</p>
            </div>
            <div class="second">
                <label>FEB 2023</label>
                <h2>Crime/Complaints Reporting Management System</h2>
                <h4>Using PHP & MySQL</h4>
                <p>The Online System for Crime Reporting applies to Police Stations all across
                    the country and specifically looks into the subject Crime Prevention, Detection,
                    Conviction of criminals depending on a highly responsive backbone of
                    Information Management. The efficiency of the Police and the effectiveness
                    with which it tackles crime depend on what quality of information it can derive
                    from its existing records and how fast it can have access to it.</p>
            </div>    
        </div>

    <script src="https://kit.fontawesome.com/f791b44e09.js" crossorigin="anonymous"></script>    
</body>
</html>