<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Styles/index.css">
    <link rel="stylesheet" href="../Styles/contact.css">
</head>

<body>
    <div id="container">
        <div class="navbar">
            <div><img class="logo" src="../Images/Gym Logo.jpg" alt=""></div>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../Views/images.html">Images</a></li>
                <li><a href="../Views/pricing.html">Pricing</a></li>
                <li><a style="border-bottom: 2px solid black;" href="../Views/contact-us.html">Contact</a></li>
                <li><button class="btn"> <a href="../Views/contact-us.html" style="color: white;">Join Now</a></button>
                </li>
            </ul>
        </div>
        <hr>
    </div>

    <div class="contact">
        <h3>Contact Us</h3>
        <div class="contact-detail">
            <div class="form">
                <div class="name">
                    <div>
                        <h4>Name :</h4>
                        <input type="text" name="" id="name" placeholder="Enter Name">
                    </div>
                    <div>
                        <h4>Email :</h4>
                        <input type="text" name="" id="email" placeholder="Enter Email">
                    </div>
                </div>
                <div>
                    <h4>Membership :</h4>
                    <select name=" Membership" id="membership">
                        <option value="">Select Membership</option>
                        <option value="">Silver Membership</option>
                        <option value="">Gold Membership</option>
                        <option value="">Platinum Membership</option>
                    </select>
                </div>
                <div>
                    <h4>Message :</h4>
                    <textarea name="" id="" cols="83" placeholder="Write your message" rows="10" style="margin-top: 15px; padding: 10px;"></textarea>
                </div>
                <button>Send</button>
            </div>
            <div class="address-info">
                <div class="mail">
                    <div>
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    <div>
                        <label for="">Email</label>
                        <p>aniketkarangale8@gmail.com</p>
                    </div>
                </div>
                <div class="address">
                    <div>
                        <i class="fa-solid fa-signs-post"></i>
                    </div>
                    <div>
                        <label for="">Address</label>
                        <p>A/p Kolhapur, Maharashtra</p>
                    </div>
                </div>
                <div class="phone">
                    <div>
                        <i class="fa-solid fa-phone"></i>
                    </div>
                    <div>
                        <label for="">Phone</label>
                        <p>+91 8856880086</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <p>www.fitnessfreak.com</p>
    </div>
        <script src="https://kit.fontawesome.com/f791b44e09.js" crossorigin="anonymous"></script>
</body>

</html>