<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Styles/pricing.css">
    <link rel="stylesheet" href="../Styles/index.css">
</head>

<body>
    <div id="container">
        <div class="navbar">
            <div><img class="logo" src="../Images/Gym Logo.jpg" alt=""></div>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../Views/images.html">Images</a></li>
                <li><a style="border-bottom: 2px solid black;" href="../Views/pricing.html">Pricing</a></li>
                <li><a href="../Views/contact-us.html">Contact</a></li>
                <li><button class="btn"> <a href="../Views/contact-us.html" style="color: white;">Join Now</a></button>
                </li>
            </ul>
        </div>
        <hr>
    </div>


    <div class="Price" style="border-top: none;">
        <h3>Pricing</h3>
        <div class="packages">
            <div class="box">
                <h2 style="color: gray;">Silver Membership</h2>
                <ul>
                    <li>₹1000/month</li>
                    <li>Perfect for Beginners</li>
                    <li>Valid for 12 months</li>
                    <li>Access To all classes Mon-Fri</li>
                    <li>Free T-Shirt</li>
                    <li><button style="margin-top: 78px; border:2px solid black;">Subscribe Now</button></li>
                </ul>
            </div>
            <div class="box" style="border-left: 1px solid; border-right: 1px solid; padding: 0px 25px;">
                <h2 style="color: goldenrod;">Gold Membership</h2>
                <ul>
                    <li>₹2000/month</li>
                    <li>Ideal for advanced trainers</li>
                    <li>Valid for 12 months</li>
                    <li>Personalized programs</li>
                    <li>Help center access</li>
                    <li>Access to massage therapist</li>
                    <li>Full nutrition plan</li>
                    <li><button style="margin-top: 20px; border:2px solid black;">Subscribe Now</button></li>
                </ul>
            </div>
            <div class="box">
                <h2 style="color: plum;">Platinum Membership</h2>
                <ul>
                    <li>₹3000/month</li>
                    <li>Perfect for commited trainers</li>
                    <li>24/7 gym access</li>
                    <li>Weekly mobility training session</li>
                    <li>Four physio sessions per month</li>
                    <li><button style="margin-top: 82px; border:2px solid black;">Subscribe Now</button></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>www.fitnessfreak.com :: fitnessfreak@gmail.com :: +91 8856880086</p>
    </div>
    
</body>

</html>